@font-face {
  font-family: face;
  src: url("/assets/js/index.js");
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("/assets/");
  background-size: cover;
  height: 852px;
  width: 100%;
}

.navigation {
  height: 68px;
  width: 100%;
  display: flex;
}